<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>CGM - Centro de Gestão Médico - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Centro de Gestão Médico", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Médicos", "Index", "Medicos")</li>
                    <li>@Html.ActionLink("Especialidades", "Index", "Especialidades")</li>
                    <li>@Html.ActionLink("Cidades", "Index", "Cidades")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Outros <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Teste 1</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Teste 2 </a></li>
                            <li class="divider"></li>
                            <li><a href="#">Teste 3</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!--Conteudo das Views-->
    <div class="wrapper" role="main">
        <div class="container">
            <div class="row">
                <div id="conteudo" class="col-md-9">
                    @RenderBody()      
                </div><!-- div conteudo -->

                <!-- Sidebar -->
                <div id="sidebar" class="col-md-3">
                    <div class="widget">
                        <h3>Pesquisar</h3>
                        <form class="form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Pesquisar">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="widget">
                        <h3>Tecnologias</h3>
                        <ul>
                            <li><a href="https://www.asp.net/">ASP.NET MVC</a></li>
                            <li><a href="https://www.asp.net/entity-framework">Entity Framework</a></li>
                            <li><a href="https://www.microsoft.com/pt-pt/sql-server/sql-server-2016">SQL Server</a></li>
                            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                            <li><a href="https://jquery.com/">jQuery</a></li>
                        </ul>
                    </div>
                </div>

            </div><!-- div row -->
        </div><!-- div container -->
    </div><!-- div wrapper -->

    <!-- Rodapé-->
    <footer role="contentinfo">
        <div class="container">
            <div class="row">
                <div id="linksImportantes" class="col-md-3">
                    <h4>Redes Sociais</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Linkedin</a></li>
                    </ul>
                </div>
                <div id="redesSociais" class="col-md-3">
                    <h4>Links Importantes</h4>
                    <ul>
                        <li><a href="#">Github</a></li>
                    </ul>
                </div> 
                <div class="col-md-offset-3 col-md-3">
                    <img src="~/Uploads/Logo/CentroMedico.jpg" alt="">
                </div> 
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; @DateTime.Now.Year - ASP.NET MVC Application.</p>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>



